node_modules/
__pycache__/
models/
snakers4_silero-vad_master/
*.safetensors
onnx/
._____temp/
7z.exe
GPT-SoVITS-Bundle/
logs/
*.pth
TEMP/
_____temp/
.____temp/
asr-hub/
bert-hub/
tts-hub/
*.private.json
faust_checkpoint.db
faust_checkpoint.db*
diary/
#---frontend-live2d-models/
frontend/2D/
#LightRAG Backend Service
inputs/
.venv/
__dev__/
rag_storage/
lightRAG.log
#nano-vectordb based RAG Service
rag_storage_nano/

package-lock.json


*.log
*.db

record/

*.zip



#data files
rag_chat_history_records.json
rag_doc_tracker.json
triggers.json
skill.d/
backend/plugins/plugins.state.json

.runtime/

dist/

kb/
kb_index/
kb_meta/
#
cloud_inference_server/