
websockets
fastapi
uvicorn
python-multipart
numpy>=2

websockets
modelscope
onnxruntime
datasets
peft
py7zr
rich
websocket-client


#屏幕点击工具依赖
openai
pillow
pyautogui
easyocr

#RAG依赖
watchdog

#Frontend UI Required
PySide6
requests

# KB vector index Required
nano-vectordb

#Langchain
langchain>1
langchain-openai
langchain-deepseek==1.0.1
langchain-community==0.4.1
wikipedia==1.4.0
langgraph-checkpoint-sqlite==3.0.3

#
tqdm

pipmaster

aiofiles
openai-whisper

#
aiohttp~=3.9.0
Brotli~=1.1.0
pure-protobuf~=3.1.2
yarl~=1.9.3