{
"CHAT_API_KEY":"YOUR_CHAT_API_KEY",
"SEARCH_API_KEY":"YOUR_SEARCH_API_KEY_HERE",
"GUI_OPERATOR_LLM_KEY":"YOUR_GUI_OPERATOR_LLM_KEY_HERE",
"SECURITY_VERIFIER_LLM_KEY":"YOUR_SECURITY_VERIFIER_KEY_HERE",
"KB_OPENAI_API_KEY":"KB_KEY_HERE",
"OPENAI_TTS_API_KEY":"YOUR_OPENAI_TTS_API_KEY_HERE",
"OPENAI_ASR_API_KEY":"YOUR_OPENAI_ASR_API_KEY_HERE"
}